body {
  background-color: #ffffff;
  height: auto;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
  margin-top: 7em;
}

.ui.comments .comment .avatar img,
.ui.comments .comment img.avatar {
  height: auto;
}
#video {
  position: absolute;
  top: 0;
  left: 0;
}
#output {
  position: absolute;
  top: 0;
  left: 0;
}

#main {
  position: relative;
}

.controls {
  position: relative;
  z-index: 2;

  height: 500px;
  top: 0;
  left: 0;
}
.controls button {
  position: absolute;
  width: 100px;
  height: 100px;
}

.hihat {
  top: 0;
  left: 0;
}
.snare {
  top: 0;
  right: 0;
}
.drum {
  bottom: 0;
  left: 0;
}
.cowbell {
  bottom: 0;
  right: 0;
}
